{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="../../svg/arrow-back.svg" alt="arrow-back" class="arrow-back" width="24px" heigh="24px">
        </button>
        <button class="button">
            <img src="../../img/avatar.png" alt="avatar" class="avatar" width="24px" heigh="24px">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post-list">
        <div class="post">
            <div class="post__info">
                <div class="post__categories">
                    <span class="post__category post__category--orange">Важливо</span>
                    <span class="post__category post__category--pink">Нове</span>
                </div>
                <span class="post__date">25.01</span>
            </div>
            <p class="post__message">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
            </p>
        </div>

        <div class="post post--viewed">
            <div class="post__info">
                <div class="post__categories">
                    <span class="post__category post__category--orange">Важливо</span>
                    <span class="post__category post__category--pink">Нове</span>
                </div>
                <span class="post__date">15.01</span>
            </div>
            <p class="post__message">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.</p>
        </div>
    </main> --}}
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}