@use './' as s;
@forward './';


.page {
	max-width: 375px;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}
}

.title {
	color: s.color(text-dark);
	font-size: 24px;
	font-weight: bold;
}
