$colorMap: (
	wight: #ffff,
	background-grey: #F7F7F7,
	background-pink: #F6E8EF,
	background-orange: #F7E9E1,
	text-dark: #363636,
	text-light: #888888,
	text-orange: #F46F17,
	text-pink: #EF5DA8,

	border: #ced4da,
	dark: #121212,
	gray: #BDBDBD,

	main: blue
);

@function color ($key) {
	@return map-get($colorMap, $key);
}