{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    <main class="community">
        {{!-- <div class="tab_menu">
            <button class="tab">
                База знань
            </button>
            <button class="tab tab--active">
                Інформація
            </button>
        </div> --}}

        {{!-- <img src="../../img/hero_comm.png" class="commun_img"> --}}

        {{!-- <div class="commun_info">
            <h1 class="commun_title">Що таке база знань?</h1>
            <p class="commun_text">База знаний — база данных, содержащая правила вывода и информацию о человеческом
                опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит
                информацию, являющуюся результатом решения предыдущих задач.</p>
        </div> --}}

        {{!-- <a href="https://web.telegram.org/k/" class="commun_button">Перейти до ком'юніті у Телеграм</a>
        --}}

    </main>
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}